@model W3_test.Domain.Models.EditUserViewModel

<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label for="SelectedRole">Role</label>
            <select asp-for="SelectedRole" asp-items="Model.AllRoles" class="form-control"></select>
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Role</label>
            <input type="text" class="form-control" value="@Model.SelectedRole" disabled />
        </div>
    }
    <form asp-action="DeleteUser" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Are you sure?');" style="display:inline;">
        <button type="submit" class="btn btn-danger">DeleteUser</button>
    </form>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
